{% extends 'base.html' %}

{% block title %}PRADŽIA{% endblock %}

{% block content %}
{% for post in posts %}
<article class="media content-section">
    <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2">{{ post.author }}</a>,
                <small class="text-muted">{{ post.created }}</small>
                <h2><a class="class-article" href="{% url 'post' post.pk %}">{{ post.title }}</a></h2>
                <p class="class-content">{{ post.content }}</p>
                <a>Comments: {{ post.comments_count }}</a>
            </div>
    </div>
</article>
<hr>
{% endfor %}
{% endblock %}